<div class="container margin-top-30">
  <h3>
    <span>List Certifications</span>
    <button class="btn btn-primary float-right">
      <i class="fa fa-plus"></i>
      <span class="margin-left-5">New Certification</span>
    </button>
  </h3>
</div>
