<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or
    information.</p>
  <a class="btn btn-primary btn-lg" role="button" routerLink="add-project">Create a project!</a>
</div>
<div class="container">
  <div class="row">
    <ng-container *ngFor="let detail of details; let i = index">
      <app-detail class="col-md-4" [detail]="detail" *ngIf="true"></app-detail>
    </ng-container>
  </div>
</div>

